/* 全局样式 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



@keyframes aureoleAnimation2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
